<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Банковский перевод</title>
</head>
<body>
    <h1>Оплата банковским переводом</h1>
    <p>Ваш заказ: #{{ order.id }}</p>
    <p>Сумма к оплате: {{ order.total_price }} руб.</p>
    <p>Реквизиты для оплаты:</p>
    <ul>
        <li>Банк: ПримерБанк</li>
        <li>Номер счета: 1234567890</li>
        <li>БИК: 123456789</li>
        <li>ИНН: 1234567890</li>
    </ul>
    <p>После оплаты, пожалуйста, свяжитесь с нами, указав номер вашего заказа.</p>
</body>
</html>
