{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Список товаров</h1>
    <div class="product-list">
        {% for product in products %}
        <div class="product">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p class="price">Цена: {{ product.price }} руб.</p>
            <form method="post" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Добавить в корзину</button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>
